<div class="row mb-5">

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-c-asignatura').titulo"
    [subtitulo]="properties.get('r-c-asignatura').subtitulo" [descripcion]="properties.get('r-c-asignatura').descripcion"
    [ruta]="properties.get('r-c-asignatura').route">
  </app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-a-asignatura').titulo"
  [subtitulo]="properties.get('r-a-asignatura').subtitulo" [descripcion]="properties.get('r-a-asignatura').descripcion"
  [ruta]="properties.get('r-a-asignatura').route">
</app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-e-asignatura').titulo"
    [subtitulo]="properties.get('r-e-asignatura').subtitulo" [descripcion]="properties.get('r-e-asignatura').descripcion"
    [ruta]="properties.get('r-e-asignatura').route">
  </app-plantilla-crud>

</div>

<router-outlet></router-outlet>
