.list-file-upload {
  position: relative;
  height: 100%;
}
.posicion-boton {
  width: fit-content !important;
}

.body-list-pptx {
  height: 100%;
}

.card-presentacion {
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(40, 39, 39, 1) !important;
  -moz-box-shadow: 0px 0px 7px 3px rgba(40, 39, 39, 1) !important;
  box-shadow: 0px 0px 7px 3px rgba(40, 39, 39, 1) !important;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
