<div class="list-file-upload">
  <div class="body-list-pptx">
    <mat-card class="example-card">

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Integrantes
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Eliminar</button>
        <button mat-button>Compartir</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <app-btn-upload-one-file [ngClass]="{'posicion-boton':true}" (complete)="onFileComplete($event)"
      (load)="recive($event)" [accept]="'.ppt,.pptx'" [text]="''">
    </app-btn-upload-one-file>
  </div>
</div>
