<div class="row mb-5">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <mat-card class="example-card" style="cursor:pointer;" [routerLink]="['crear-usuario',tipo]">
      <mat-card-header>
        <div mat-card-avatar ><i class="fas fa-users"></i></div>
        <mat-card-title>Crear</mat-card-title>
        <mat-card-subtitle>665</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tener en cuenta
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <mat-card class="example-card" style="cursor:pointer;" [routerLink]="['actualizar-usuario',tipo]">
      <mat-card-header>
        <div mat-card-avatar ><i class="far fa-id-card"></i></div>
        <mat-card-title>Actualizar</mat-card-title>
        <mat-card-subtitle>4545</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tener en cuenta
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <mat-card class="example-card" style="cursor:pointer;" [routerLink]="['eliminar-usuario',tipo]">
      <mat-card-header>
        <div mat-card-avatar ><i class="fas fa-user-times"></i></div>
        <mat-card-title>Eliminar</mat-card-title>
        <mat-card-subtitle>4554</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tener en cuenta
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<router-outlet ></router-outlet>
