<mat-nav-list class="nav-list-menu">


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Clases
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item   [routerLink]="['list-clases']" (click)="addMenuOpcion('Clases Virtuales')">
          <a matLine class="ml-5" >Clases Virtuales</a>
        </mat-list-item>
        <mat-list-item   [routerLink]="['list-clases']" (click)="addMenuOpcion('Videos de las clases')">
          <a matLine class="ml-5" [matMenuTriggerFor]="videoClase">Videos</a>
          <mat-menu #videoClase="matMenu">
            <button mat-menu-item >Vertebrates</button>
            <button mat-menu-item >Invertebrates</button>
          </mat-menu>
        </mat-list-item>
        <mat-list-item   [routerLink]="['list-clases']" (click)="addMenuOpcion('Presentaciones')">
          <a matLine class="ml-5" >Presentaciones</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Foro
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item>
          <a matLine class="ml-5">Foro</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Software
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item>
          <a matLine class="ml-5">Acerca de</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>

</mat-nav-list>
