<div class="container-fluid d-flex justify-content-center vh-100 mt-5">
  <mat-tab-group>
    <mat-tab label="Clase Virtual">
      <mat-card class="example-card">
        <mat-card-content>
          <app-inscripcion-asig-es *ngIf="tipo === 'ES'"></app-inscripcion-asig-es>
          <app-asig-profe-asigs *ngIf="tipo === 'PR'"></app-asig-profe-asigs>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Clase Presencial"> Content 2 </mat-tab>
    <mat-tab label="Horario"> Content 3 </mat-tab>
  </mat-tab-group>
</div>

