<div class="row mb-5">

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-c-asig-estudiante-asigs').titulo"
    [subtitulo]="properties.get('r-c-asig-estudiante-asigs').subtitulo"
    [descripcion]="properties.get('r-c-asig-estudiante-asigs').descripcion"
    [ruta]="properties.get('r-c-asig-estudiante-asigs').route">
  </app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-a-asig-estudiante-asigs').titulo"
    [subtitulo]="properties.get('r-a-asig-estudiante-asigs').subtitulo"
    [descripcion]="properties.get('r-a-asig-estudiante-asigs').descripcion"
    [ruta]="properties.get('r-a-asig-estudiante-asigs').route">
  </app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-e-asig-estudiante-asigs').titulo"
    [subtitulo]="properties.get('r-e-asig-estudiante-asigs').subtitulo"
    [descripcion]="properties.get('r-e-asig-estudiante-asigs').descripcion"
    [ruta]="properties.get('r-e-asig-estudiante-asigs').route">
  </app-plantilla-crud>
</div>

<router-outlet></router-outlet>
