<app-loading [activar]="activar"></app-loading>
<app-navbar-principal></app-navbar-principal>
<div class="container-fluid vh-100 container-login-chat">
  <div class="d-flex align-items-center justify-content-center h-100">
    <!-- <div class="col-md-12">sdafds</div> -->
    <form [formGroup]="login" (ngSubmit)="onSubmit()" novalidate=''>
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="form-campo">
                <mat-label class="text-secondary">Correo Electrónico</mat-label>
                <input class="text-secondary" matInput [formControl]="getControls('email')" [(ngModel)]="usuario.email"
                  placeholder="ej: pat@example.com">
                <mat-error
                  *ngIf="getControls('email').errors!= null && getControls('email').errors.email && !getControls('email').errors.required">
                  Por favor, ingrese un correo válido
                </mat-error>
                <mat-error *ngIf="getControls('email').errors!=null && getControls('email').errors.required">
                  Correo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="form-campo">
                <mat-label class=" text-secondary">{{properties.get('mat-form-field-contraseña').value}}</mat-label>
                <input class="text-secondary" type="password" matInput
                  [formControl]="getControls(properties.get('mat-form-field-contraseña').control)"
                  [(ngModel)]="usuario.password" placeholder="ej: carlos1234567*.">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-contraseña').control).errors!= null  && getControls(properties.get('mat-form-field-contraseña').control).errors.required">
                  {{properties.get('mat-form-field-contraseña').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-contraseña').control).errors!= null && getControls(properties.get('mat-form-field-contraseña').control).errors.minlength">
                  minimo 2 <strong>numeros</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-contraseña').control).errors!= null && getControls(properties.get('mat-form-field-contraseña').control).errors.maxlength">
                  maximo 3 <strong>numeros</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                <mat-label>{{properties.get('mat-form-field-rol').value}}</mat-label>
                <mat-select [formControl]="getControls(properties.get('mat-form-field-rol').control)"
                  [(ngModel)]="usuario.tipo">
                  <mat-option value="PR">
                    Profesor
                  </mat-option>
                  <mat-option value="ES">
                    Estudiante
                  </mat-option>

                </mat-select>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-rol').control).errors!= null  && getControls(properties.get('mat-form-field-rol').control).errors.required">
                  El {{properties.get('mat-form-field-rol').error}} es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <button type="submit" class="btn-block" mat-raised-button color="accent">Iniciar Sesión</button>

        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
