<app-loading [activar]="activar"></app-loading>
<mat-card>
  <mat-card-content>
    <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
      <button mat-fab for="search"  data-toggle="collapse" data-target="#collapse-search"
        aria-expanded="false" aria-controls="collapse-search">
        <i class="material-icons">search</i>
      </button>
      <span id="collapse-search" class="collapse">
        <mat-form-field class="form-campo">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="onSearchChange($event.target.value)">
        </mat-form-field>
      </span>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef> Cedula </th>
        <td mat-cell *matCellDef="let escuelaUsuario"> {{ escuelaUsuario.usuario.cedula }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="profesor">
        <th mat-header-cell *matHeaderCellDef> Profesor </th>
        <td mat-cell *matCellDef="let escuelaUsuario"> {{ escuelaUsuario.usuario.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="escuela">
        <th mat-header-cell *matHeaderCellDef> Escuela </th>
        <td mat-cell *matCellDef="let escuelaUsuario"> {{ escuelaUsuario.escuela.nombre }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div class="row">
      <div class="col-md-1 ml-1 mt-4">
        <button mat-raised-button (click)="removeSelectedRows()">Eliminar</button>
      </div>
      <div class="col-md-6 mt-4">
        <mat-paginator *ngIf="paginationMaterial" [length]="paginationMaterial.length"
          [pageSize]="paginationMaterial.pageSize" [pageSizeOptions]="paginationMaterial.pageSizeOptions"
          (page)="reciveMaterial($event)" [pageIndex]="paginationMaterial.page">
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
