.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important;
}
.mat-sidenav-lateral {
  width: 20% !important;
  background: #fff !important;
}

.contenedor-buttons .mat-icon {
  font-size: 50px;
  width: 50px;
}

.contenedor-buttons .mat-icon-button {
  margin-left: 20px !important;
}

.mat-sidenav-content {
  height: 100% !important;
}


.log-user {
  width: 100vw;
  height: 100vh;
}
