<div class="row">
  <div    [ngClass]="[redimensionar?'col-10 p-0':'']" [ngStyle]="{'height':redimensionar ?'100vh':''}" >
    {{redimensionar +' '+redimensionarItem}}
    <app-desktop-multimedia [esComponenteItem]="true" [htmlListVideo]="this" [visible]="visible" #htmlVideoDesktop
      [width]="(redimensionar ? (listContentDesktop !== undefined && listContentDesktop.toArray().length > 0 ? 100 / listContentDesktop.toArray().length + 1 :100) : 0 )+'%'"
      [height]="'100%'"> </app-desktop-multimedia>
    <app-desktop-multimedia [esComponenteItem]="false" [htmlListVideo]="this" #contentDesktop (emit)="reciveEmit($event)" *ngFor="let peerEmiRece of room.peerServerEmisorReceptorDesktop" [visible]="true"
      [width]="(redimensionarItem > 0 ? (listContentDesktop !== undefined && listContentDesktop.toArray().length > 0 ? 100 / listContentDesktop.toArray().length + 1 :100) : 0 )+'%'"
      [height]="'100%'" [peerClient]="peerEmiRece.peerClient" [peerServer]="peerEmiRece.peerServer"
      [usuario]="peerEmiRece.usuario1.id === usuario.id ?peerEmiRece.usuario2 : peerEmiRece.usuario1" [listContentDesktop]="listContentDesktop">
    </app-desktop-multimedia >
  </div>

  <div #contenedor class="bg-white cam" [ngClass]="[redimensionar?'col-2 p-0':'col-12']" [ngStyle]="{'height':'100vh'}">
    <div [ngClass]="[redimensionar?'':'d-inline-flex ml-1 mt-1']">
      <app-video-multimedia [esComponenteItem]="true"  [activo]="false" #videoHtml [width]="redimensionar?'100%':'200px'" [height]="'150px'">
      </app-video-multimedia>
      <app-botones #boton ></app-botones>
    </div>

    <app-video-multimedia [esComponenteItem]="false" [ngClass]="[redimensionar?'col-12 ml-1 mt-1':'d-inline-flex ml-1 mt-1']" *ngFor="let peerEmiRece of room.peerServerEmisorReceptor"
      [activo]="true" [peerClient]="peerEmiRece.peerClient" [peerServer]="peerEmiRece.peerServer"
      [usuario]="peerEmiRece.usuario1.id === usuario.id ?peerEmiRece.usuario2 : peerEmiRece.usuario1 " [width]="redimensionar?'100%':'200px'"
      [height]="'150px'">
    </app-video-multimedia>

  </div>
</div>
