<div class="row mr-0 ml-0" >


  <div #contenedor>

    <div class="container-fluid  m-0 p-0" [ngStyle]="{'width':'100vw','height':'100vh'}">
      <div class="row m-0 p-0">
        <div class="col-md-12 contenedor-color ">
          <div
            class="row m-0 p-0 text-center d-lg-flex justify-content-center align-items-center justify-content-lg-center"
            [ngStyle]="{'width':'100%','height':'100vh'}">
            <div [ngClass]="redimensionar ?'col-md-10' :''">
              <div class="row m-0 p-0 text-center d-lg-flex justify-content-center"
                [ngClass]="redimensionar ? 'align-content-start':'align-items-center justify-content-lg-center'"
                style="width: 100%; height: 100%;">

                <app-desktop-multimedia
                  [ngClass]="redimensionar ? (contVisibleDesktop > 1 ? (contVisibleDesktop > 4 ? (contVisibleDesktop > 9 ? 'col-md-2 col-2-redVideoM' :'col-md-4 col-4-redVideoM') :'col-md-6 col-6-redVideoM'):'col-md-12 col-12-redVideoM' ) : 'col-md-12 col-12-redVideoM'"
                  [esComponenteItem]="true" [htmlListVideo]="this" [visible]="visible" #htmlVideoDesktop
                  [width]="'100%'" [height]="'100%'" [listContentDesktop]="listContentDesktop"></app-desktop-multimedia>

                <app-desktop-multimedia
                  [ngClass]="redimensionar ? (contVisibleDesktop > 1 ? (contVisibleDesktop > 4 ? (contVisibleDesktop > 9 ? 'col-md-2 col-2-redVideoM' :'col-md-4 col-4-redVideoM') :'col-md-6 col-6-redVideoM'):'col-md-12 col-12-redVideoM' ) : 'col-md-12 col-12-redVideoM'"
                  [esComponenteItem]="false" [htmlListVideo]="this" #contentDesktop *ngFor="let key of keysDesktop"
                  [key]="key" [videoMultimedia]="videoMultimedia" [element]="room.peerServerEmisorReceptorDesktop[key]"
                  [width]="'100%'" [height]="'100%'" [peerClient]="room.peerServerEmisorReceptorDesktop[key].peerClient"
                  [peerServer]="room.peerServerEmisorReceptorDesktop[key].peerServer"
                  [usuario]="room.peerServerEmisorReceptorDesktop[key].usuario1.id === usuario.id ?room.peerServerEmisorReceptorDesktop[key].usuario2 : room.peerServerEmisorReceptorDesktop[key].usuario1"
                  [htmlVideoDesktop]="htmlVideoDesktop" [listContentDesktop]="listContentDesktop">
                </app-desktop-multimedia>
              </div>
            </div>
            <div [ngClass]="redimensionar ?'col-md-2 borde-cam vh-100' :'col-md-8 vh-100'">
              <div class="row m-0 p-0 text-center d-lg-flex justify-content-center"
                [ngClass]="redimensionar ? 'align-content-start':'align-items-center justify-content-lg-center'"
                style="width: 100%; height: 100%;">
                <app-video-multimedia
                  [ngClass]="redimensionar ? 'col-md-12 col-2-redVideoM' :(keysCam.length > 0 ? (keysCam.length > 4 ? (keysCam.length > 9 ? 'col-md-2 col-2-redVideoM' :'col-md-4 col-4-redVideoM') :'col-md-6 col-6-redVideoM'):'col-md-8 col-8-redVideoM' )"
                  [styleFontSize]="redimensionar ? 'small' : (keysCam.length > 0 ? (keysCam.length > 4 ? (keysCam.length > 9 ? 'small' :'medium') :'medium'):'large' )"
                  [styleSize]="redimensionar ? reacomodarImgIco[0] : (keysCam.length > 0 ? (keysCam.length > 4 ? (keysCam.length > 9 ? reacomodarImgIco[0] :reacomodarImgIco[1]) :reacomodarImgIco[1]):reacomodarImgIco[2] )"
                  class="p-1 m-0 " [esComponenteItem]="true" #videoMultimedia [width]="'100%'" [height]="'100%'"
                  [listVideoMultimedia]="listVideoMultimedia">
                </app-video-multimedia>

                <app-video-multimedia
                  [ngClass]="redimensionar ? 'col-md-12 col-2-redVideoM ' : (keysCam.length > 0 ? (keysCam.length > 4 ? (keysCam.length > 9 ? 'col-md-2 col-2-redVideoM' :'col-md-4 col-4-redVideoM') :'col-md-6 col-6-redVideoM'):'col-md-8 col-8-redVideoM' )"
                  [styleFontSize]="redimensionar ? 'small' : (keysCam.length > 0 ? (keysCam.length > 4 ? (keysCam.length > 9 ? 'small' :'medium') :'medium'):'large' )"
                  [styleSize]="redimensionar ? reacomodarImgIco[0] : (keysCam.length > 0 ? (keysCam.length > 4 ? (keysCam.length > 9 ? reacomodarImgIco[0] :reacomodarImgIco[1]) :reacomodarImgIco[1]):reacomodarImgIco[2] )"
                  #listVideoMultimedia [videoMultimedia]="videoMultimedia" [esComponenteItem]="false" class="p-1 m-0"
                  *ngFor="let key of keysCam" [peerClient]="room.peerServerEmisorReceptor[key].peerClient" [key]="key"
                  [peerServer]="room.peerServerEmisorReceptor[key].peerServer"
                  [element]="room.peerServerEmisorReceptor[key]"
                  [usuario]="room.peerServerEmisorReceptor[key].usuario1.id === usuario.id ?room.peerServerEmisorReceptor[key].usuario2 : room.peerServerEmisorReceptor[key].usuario1"
                  [width]="'100%'" [height]="'100%'" (click)="cambiarOrden(key)">
                </app-video-multimedia>
              </div>
            </div>
            <app-botones [visible]="false" [htmlListVideo]="this" #boton></app-botones>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
