<div class="row mr-0 ml-0">




  <div #contenedor
    [ngClass]="[redimensionar?'col-2 p-0 m-0':'cam d-flex justify-content-center align-content-start flex-wrap m-0 vh-100 vw-100']">

    <div [ngClass]="[redimensionar ?'':'d-inline-flex ml-1 mt-1']"
      [ngStyle]="{'width':redimensionar?'100%':'200px' ,'height':'150px'}">
      <app-video-multimedia [esComponenteItem]="true"  #videoHtml [width]="redimensionar?'100%':'200px'"
        [height]="'150px'">
      </app-video-multimedia>
      <app-botones #boton></app-botones>
    </div>


    <app-video-multimedia [esComponenteItem]="false" [ngClass]="[redimensionar ?'':'d-inline-flex ml-1 mt-1']"
      [ngStyle]="{'width':redimensionar?'100%':'200px' ,'height':'150px'}"
      *ngFor="let emipRecep of room.peerServerEmisorReceptor | keyvalue"  [peerClient]="emipRecep.value.peerClient"
      [key]="emipRecep.key"
      [peerServer]="emipRecep.value.peerServer"
      [element]="emipRecep.value"
      [usuario]="emipRecep.value.usuario1.id === usuario.id ?emipRecep.value.usuario2 : emipRecep.value.usuario1"
      [width]="redimensionar?'100%':'200px'" [height]="'150px'">
    </app-video-multimedia>

  </div>
</div>
