<app-loading [activar]="activar"></app-loading>
<div class="d-flex justify-content-center">
  <div class="col-md-6">
    <form [formGroup]="crear" (ngSubmit)="onSubmit()" novalidate>
      <mat-card class="example-card">

        <mat-card-content>
          <div class="row">
            <div class="col-md-12 pr-1">
              <mat-form-field appearance="legacy" class="form-campo w-100">
                <mat-label>{{properties.get('mat-form-field-titulo').value}}</mat-label>
                <input matInput
                  [formControl]="getControls(properties.get('mat-form-field-titulo').control)"
                  placeholder="{{properties.get('mat-form-field-titulo').placeholder}}"
                  [(ngModel)]="aulaForoMateria.titulo">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-titulo').control).errors!= null && getControls(properties.get('mat-form-field-titulo').control).errors.required">
                  {{properties.get('mat-form-field-titulo').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-titulo').control).errors!= null && getControls(properties.get('mat-form-field-titulo').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>


          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <mat-form-field appearance="legacy" class="form-campo w-100">
                <mat-label>{{properties.get('mat-form-field-materia').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-materia').control)"
                  placeholder="{{properties.get('mat-form-field-materia').placeholder}}"
                  [(ngModel)]="aulaForoMateria.materia.nombre">
                <mat-icon matSuffix style="cursor:pointer" (click)="openDialogMateria()">table_chart</mat-icon>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-materia').control).errors!= null && getControls(properties.get('mat-form-field-materia').control).errors.required">
                  {{properties.get('mat-form-field-materia').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-materia').control).errors!= null && getControls(properties.get('mat-form-field-materia').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 pr-1">
              <mat-form-field appearance="legacy" class="form-campo w-100">
                <mat-label>{{properties.get('mat-form-field-descripcion').value}}</mat-label>
                <textarea matInput class="w-100"
                  [formControl]="getControls(properties.get('mat-form-field-descripcion').control)"
                  placeholder="{{properties.get('mat-form-field-descripcion').placeholder}}"
                  [(ngModel)]="aulaForoMateria.descripcion"></textarea>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-descripcion').control).errors!= null && getControls(properties.get('mat-form-field-descripcion').control).errors.required">
                  {{properties.get('mat-form-field-descripcion').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-descripcion').control).errors!= null && getControls(properties.get('mat-form-field-descripcion').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn-block" mat-raised-button color="accent">Guardar</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
