<div class="row mb-5">

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-c-usuario').titulo"
    [subtitulo]="properties.get('r-c-usuario').subtitulo" [descripcion]="properties.get('r-c-usuario').descripcion"
    [ruta]="properties.get('r-c-usuario').route"
    [parameter] = "tipo">
  </app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-a-usuario').titulo"
  [subtitulo]="properties.get('r-a-usuario').subtitulo" [descripcion]="properties.get('r-a-usuario').descripcion"
  [ruta]="properties.get('r-a-usuario').route"
  [parameter] = "tipo">
</app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-e-usuario').titulo"
    [subtitulo]="properties.get('r-e-usuario').subtitulo" [descripcion]="properties.get('r-e-usuario').descripcion"
    [ruta]="properties.get('r-e-usuario').route"
    [parameter] = "tipo">
  </app-plantilla-crud>
</div>

<router-outlet></router-outlet>
