<app-loading [activar]="activar"></app-loading>
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="crear" (ngSubmit)="onSubmit()" novalidate>

        <mat-card class="example-card">

          <mat-card-content>
            <mat-card-title>{{properties.get('titulo-programacion-horario').value}}</mat-card-title>
            <div class="col-md-12 ">
              <mat-form-field appearance="legacy" class="form-campo">
                <mat-label>{{properties.get('mat-form-field-programa').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-programa').control)"
                  placeholder="{{properties.get('mat-form-field-programa').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.programa.nombre">
                <mat-icon matSuffix style="cursor:pointer" (click)="openDialog()">table_chart</mat-icon>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-programa').control).errors!= null && getControls(properties.get('mat-form-field-programa').control).errors.required">
                  {{properties.get('mat-form-field-programa').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-programa').control).errors!= null && getControls(properties.get('mat-form-field-programa').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12 ">
              <mat-form-field appearance="legacy" class="form-campo">
                <mat-label>{{properties.get('mat-form-field-profesor').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-profesor').control)"
                  placeholder="{{properties.get('mat-form-field-profesor').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.profesor.nombre">

              </mat-form-field>
            </div>
            <div class="col-md-12 ">
              <mat-form-field appearance="legacy" class="form-campo">
                <mat-label>{{properties.get('mat-form-field-materia').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-materia').control)"
                  placeholder="{{properties.get('mat-form-field-materia').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.materia.nombre">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-materia').control).errors!= null && getControls(properties.get('mat-form-field-materia').control).errors.required">
                  {{properties.get('mat-form-field-materia').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-materia').control).errors!= null && getControls(properties.get('mat-form-field-materia').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 ">
              <mat-form-field appearance="legacy" class="form-campo">
                <mat-label>{{properties.get('mat-form-field-plan').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-plan').control)"
                  placeholder="{{properties.get('mat-form-field-plan').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.plan.nombre">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-plan').control).errors!= null && getControls(properties.get('mat-form-field-plan').control).errors.required">
                  {{properties.get('mat-form-field-plan').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-plan').control).errors!= null && getControls(properties.get('mat-form-field-plan').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12 ">
              <mat-form-field appearance="legacy" class="form-campo">
                <mat-label>{{properties.get('mat-form-field-salon').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-salon').control)"
                  placeholder="{{properties.get('mat-form-field-salon').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.salon.nombre">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-salon').control).errors!= null && getControls(properties.get('mat-form-field-salon').control).errors.required">
                  {{properties.get('mat-form-field-salon').error}} es <strong>obligatorio</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-salon').control).errors!= null && getControls(properties.get('mat-form-field-salon').control).errors.pattern">
                  Solamente <strong>letras</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                <mat-label>{{properties.get('mat-form-field-cupos').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-cupos').control)"
                  placeholder="{{properties.get('mat-form-field-cupos').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.cupos">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-cupos').control).errors!= null && getControls(properties.get('mat-form-field-cupos').control).errors.pattern">
                  Solamente <strong>numeros</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-cupos').control).errors!= null && getControls(properties.get('mat-form-field-cupos').control).errors.minlength">
                  minimo 1 <strong>numeros</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-cupos').control).errors!= null && getControls(properties.get('mat-form-field-cupos').control).errors.maxlength">
                  maximo 2 <strong>numeros</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                <mat-label>{{properties.get('mat-form-field-grupo').value}}</mat-label>
                <input matInput [readonly]="true"
                  [formControl]="getControls(properties.get('mat-form-field-grupo').control)"
                  placeholder="{{properties.get('mat-form-field-grupo').placeholder}}"
                  [(ngModel)]="programacionHorario.asig_profe_asig.grupo">
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-grupo').control).errors!= null && getControls(properties.get('mat-form-field-grupo').control).errors.pattern">
                  Solamente <strong>numeros</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-grupo').control).errors!= null && getControls(properties.get('mat-form-field-grupo').control).errors.minlength">
                  minimo 1 <strong>numeros</strong>
                </mat-error>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-grupo').control).errors!= null && getControls(properties.get('mat-form-field-grupo').control).errors.maxlength">
                  maximo 1 <strong>numeros</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                <mat-label>{{properties.get('mat-form-field-dia').value}}</mat-label>
                <mat-select [formControl]="getControls(properties.get('mat-form-field-dia').control)"
                  [(ngModel)]="programacionHorario.dia">
                  <mat-option value="Lunes">
                    Lunes
                  </mat-option>
                  <mat-option value="Martes">
                    Martes
                  </mat-option>
                  <mat-option value="Miercoles">
                    Miercoles
                  </mat-option>
                  <mat-option value="Jueves">
                    Jueves
                  </mat-option>
                  <mat-option value="Viernes">
                    Viernes
                  </mat-option>
                  <mat-option value="Sabado">
                    Sábado
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-dia').control).errors!= null  && getControls(properties.get('mat-form-field-dia').control).errors.required">
                  El {{properties.get('mat-form-field-dia').error}} es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                  <mat-label>{{properties.get('mat-form-field-hora-inicial').value}}</mat-label>
                  <input matInput [readonly]="true"
                    [formControl]="getControls(properties.get('mat-form-field-hora-inicial').control)"
                    placeholder="{{properties.get('mat-form-field-hora-inicial').placeholder}}"
                    [(ngModel)]="programacionHorario.hora_inicial" [ngxTimepicker]="valorHoraInicial" >
                  <ngx-material-timepicker #valorHoraInicial></ngx-material-timepicker>
                  <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-hora-inicial').control).errors!= null && getControls(properties.get('mat-form-field-hora-inicial').control).errors.required">
                  {{properties.get('mat-form-field-hora-inicial').error}} es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                  <mat-label>{{properties.get('mat-form-field-hora-final').value}}</mat-label>
                  <input matInput [readonly]="true"
                    [formControl]="getControls(properties.get('mat-form-field-hora-final').control)"
                    placeholder="{{properties.get('mat-form-field-hora-final').placeholder}}"
                    [(ngModel)]="programacionHorario.hora_final" [ngxTimepicker]="valorHoraFinal" >
                  <ngx-material-timepicker #valorHoraFinal></ngx-material-timepicker>
                  <mat-error
                  *ngIf="getControls(properties.get('mat-form-field-hora-final').control).errors!= null && getControls(properties.get('mat-form-field-hora-final').control).errors.required">
                  {{properties.get('mat-form-field-hora-final').error}} es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                <mat-label>{{properties.get('mat-form-field-fecha-inicial').value}}</mat-label>
                <input [readonly]="true" matInput [matDatepicker]="picker" [formControl]="getControls(properties.get('mat-form-field-fecha-inicial').control)"
                  [(ngModel)]="programacionHorario.fecha_inicial" placeholder="{{properties.get('mat-form-field-fecha-inicial').placeholder}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                *ngIf="getControls(properties.get('mat-form-field-fecha-inicial').control).errors!= null && getControls(properties.get('mat-form-field-fecha-inicial').control).errors.required">
                {{properties.get('mat-form-field-fecha-inicial').error}} es <strong>obligatorio</strong>
              </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="form-campo">
                <mat-label>{{properties.get('mat-form-field-fecha-final').value}}</mat-label>
                <input [readonly]="true" matInput [matDatepicker]="pickerr" [formControl]="getControls(properties.get('mat-form-field-fecha-final').control)"
                  [(ngModel)]="programacionHorario.fecha_final" placeholder="{{properties.get('mat-form-field-fecha-final').placeholder}}">
                <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
                <mat-datepicker #pickerr></mat-datepicker>
                <mat-error
                *ngIf="getControls(properties.get('mat-form-field-fecha-final').control).errors!= null && getControls(properties.get('mat-form-field-fecha-final').control).errors.required">
                {{properties.get('mat-form-field-fecha-final').error}} es <strong>obligatorio</strong>
              </mat-error>
              </mat-form-field>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button type="submit" class="btn-block" mat-raised-button color="accent">Guardar</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
