
<nav  aria-label="..." class="d-flex justify-content-center mt-5">
	<ul class="pagination" total-items="3" items-per-page="10" max-size="10"
		*ngIf="pagination.totalPages >= 1 && pagination.currentPage<=pagination.totalPages">
		<li [className]="pagination.currentPage == 1 ? 'page-item disabled':'page-item'">
			<span style="cursor: pointer;" class="page-link" (click)="emitir(pagination.currentPage - 1)">Atras</span>
		</li>
		<li [className]="pagination.currentPage == 1 ? 'page-item active':'page-item'"><a class="page-link" (click)="emitir(1)">1</a></li>
		<li *ngIf="pagination.pageIni > 2" class="page-item"><a class="page-link">...</a></li>
		<li *ngFor="let i of pagination.elementos; "
			[className]="pagination.currentPage == i ? 'page-item active':'page-item'">
			<a  class="page-link"  (click)="emitir(i)">{{i}}</a>
    </li>
    	<li *ngIf="pagination.pagePenultimo!= pagination.totalPages" class="page-item"><a class="page-link">...</a></li>
      <li  class="page-item" [className]="pagination.currentPage == pagination.totalPages ? 'page-item active':'page-item'"><a class="page-link" (click)="emitir(pagination.totalPages)">{{pagination.totalPages}}</a></li>
			<li [className]="pagination.currentPage == pagination.totalPages ? 'page-item disabled':'page-item'">
			<span style="cursor: pointer;"   class="page-link" (click)="emitir(pagination.currentPage + 1)">Siguiente</span>
		</li>
	</ul>
</nav>
