<div class="row mb-5">

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-c-programacion-horario').titulo"
    [subtitulo]="properties.get('r-c-programacion-horario').subtitulo" [descripcion]="properties.get('r-c-programacion-horario').descripcion"
    [ruta]="properties.get('r-c-programacion-horario').route">
  </app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-a-programacion-horario').titulo"
  [subtitulo]="properties.get('r-a-programacion-horario').subtitulo" [descripcion]="properties.get('r-a-programacion-horario').descripcion"
  [ruta]="properties.get('r-a-programacion-horario').route">
</app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-e-programacion-horario').titulo"
    [subtitulo]="properties.get('r-e-programacion-horario').subtitulo" [descripcion]="properties.get('r-e-programacion-horario').descripcion"
    [ruta]="properties.get('r-e-programacion-horario').route">
  </app-plantilla-crud>

</div>

<router-outlet></router-outlet>
