<div class="row mb-5">

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-c-noticia').titulo"
    [subtitulo]="properties.get('r-c-noticia').subtitulo" [descripcion]="properties.get('r-c-noticia').descripcion"
    [ruta]="properties.get('r-c-noticia').route">
  </app-plantilla-crud>
  <!-- <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-a-noticia').titulo"
  [subtitulo]="properties.get('r-a-noticia').subtitulo" [descripcion]="properties.get('r-a-noticia').descripcion"
  [ruta]="properties.get('r-a-noticia').route">
</app-plantilla-crud> -->
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-e-noticia').titulo"
    [subtitulo]="properties.get('r-e-noticia').subtitulo" [descripcion]="properties.get('r-e-noticia').descripcion"
    [ruta]="properties.get('r-e-noticia').route">
  </app-plantilla-crud>
  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-v-noticia').titulo"
  [subtitulo]="properties.get('r-v-noticia').subtitulo" [descripcion]="properties.get('r-v-noticia').descripcion"
  [ruta]="properties.get('r-v-noticia').route">
</app-plantilla-crud>

</div>

<router-outlet></router-outlet>
