<app-loading [activar]="activar"></app-loading>

<div class="" >
  <div class="wrapper ">
    <app-menu-lateral></app-menu-lateral>
    <div class="main-panel">
      <!-- Navbar -->
      <app-navbar (activar)="loading($event)"></app-navbar>

      <div class="content">
        <router-outlet></router-outlet>
        </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <!-- <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                </li>
              </ul>
            </nav>

          </div> -->
        </div>
      </footer>
    </div>
  </div>
</div>
