.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  background:#454c53!important;

}
.mat-sidenav-lateral {
  width: 20% !important;
  background: #fff !important;
}

.contenedor-buttons .mat-icon {
  font-size: 50px;
  width: 50px;
}

.contenedor-buttons .mat-icon-button {
  margin-left: 20px !important;
}

.mat-sidenav-content {
  height: 100% !important;
}

.log-user {
  width: 100vw;
  height: 100vh;
}

:host ::ng-deep .mat-tab-body-wrapper  {
  height: 93vh!important;
  overflow: hidden!important;
}


:host ::ng-deep .mat-tab-body{
  overflow: hidden!important;
}


:host ::ng-deep .mat-tab-group {
  background-color: #1b1a1a!important;
}

:host ::ng-deep .mat-card {
  background-color: rgb(40, 39, 39)!important;
  color: #ffffff!important;
}

:host ::ng-deep .mat-tab-body-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
:host ::ng-deep .mat-tab-body-content::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
:host ::ng-deep .mat-tab-body-content::-webkit-scrollbar-thumb {
  border: 0px none #ffffff;
  border-radius: 50px;
  background-color: #33344a !important;
  opacity: 0.30;
}
:host ::ng-deep .mat-tab-body-content::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
:host ::ng-deep .mat-tab-body-content::-webkit-scrollbar-corner {
  background: transparent;
}


:host ::ng-deep  .mat-drawer-side {
  border-right: 2px inset #24282c!important;
}
