<div class="example-container">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="mat-sidenav-lateral vh-100">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>voice_chat</mat-icon>
          </ng-template>
          <app-display-button  (sidenav) = "sidenav.toggle()"></app-display-button>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon> chat</mat-icon>
          </ng-template>
          <app-list-display-estudiante></app-list-display-estudiante>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <!-- style="overflow:hidden!important;" -->
    <mat-sidenav-content class="w-100 vh-100"  style="overflow:hidden!important;" >
      <app-display-button (sidenav) = "sidenav.toggle()"></app-display-button>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>



