<div class="row">
  <div class="col-md-4 " *ngFor="let peerEmiRece of room.peerServerEmisorReceptor">
    <app-video-multimedia *ngIf="peerEmiRece.emisor.id === usuario.id" [tipo]="'S'" [peerServer] = "peerEmiRece.peerServer" [width]="'200px'" [height]="'250px'">
    </app-video-multimedia>
    <app-video-multimedia *ngIf="peerEmiRece.receptor.id === usuario.id" [tipo]="'C'" [peerClient] = "peerEmiRece.peerClient" [width]="'200px'" [height]="'250px'">
    </app-video-multimedia>
  </div>
  <div class="col-md-4 ">
    <app-video-multimedia #videoHtml [width]="'200px'" [height]="'250px'"></app-video-multimedia>
    <app-botones [htmlVideo] ="videoHtml" ></app-botones>
  </div>
</div>
