.contenedor-border-redondeado {
  position: relative;
  background: #fff;
  height: 200px;
  width: 200px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.posicion-alias{
  font-size: 68px;
  position: absolute;
  left: 40%;
  top: 32%;
}
.mat-icon {
  color: rgb(218, 213, 213) !important;
}
