.snackbar-danger {
  background: #f8d7da;
}

.snackbar-danger span {
  color: #721c24!important;
}

.snackbar-warning {
  background: #fff3cd;
}

.snackbar-warning span {
  color: #856404!important;
}

.snackbar-success {
  background: #d4edda;
}

.snackbar-success span {
  color: #155724!important;
}

.mat-drawer {
  background-color: transparent!important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fff3cd!important;
}


