<div class="row mb-5">

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-c-plan').titulo"
    [subtitulo]="properties.get('r-c-plan').subtitulo" [descripcion]="properties.get('r-c-plan').descripcion"
    [ruta]="properties.get('r-c-plan').route">
  </app-plantilla-crud>

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-a-plan').titulo"
    [subtitulo]="properties.get('r-a-plan').subtitulo" [descripcion]="properties.get('r-a-plan').descripcion"
    [ruta]="properties.get('r-a-plan').route">
  </app-plantilla-crud>

  <app-plantilla-crud class="col-lg-3 col-md-6 col-sm-6" [titulo]="properties.get('r-e-plan').titulo"
    [subtitulo]="properties.get('r-e-plan').subtitulo" [descripcion]="properties.get('r-e-plan').descripcion"
    [ruta]="properties.get('r-e-plan').route">
  </app-plantilla-crud>

</div>

<router-outlet></router-outlet>
