.mat-list-item.mat-list-item-Word-wrap {
  height: initial !important;
}
.mat-list-item-Word-wrap .mat-line {
  word-wrap: break-Word !important;
  white-space: pre-wrap !important;
}
.icon{
  font-size: 12px;
  cursor: pointer;
}
.color-nombre{
  font-weight: bold;
  color: #7071b3;
  font-size: 10px;
}
