<app-loading [activar]="activar"></app-loading>
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-content>
          <app-google-maps [localizacion]="localizacion" (emitir)="reciveLocalizacion($event)"></app-google-maps>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-md-8">
      <mat-card>
        <mat-card-content>

          <form [formGroup]="crear" novalidate>
            <div class="row" *ngIf="errors">
              <app-bootstrap-alerts [data]="errors.nombre"></app-bootstrap-alerts>
              <app-bootstrap-alerts [data]="errors.nombre_uno"></app-bootstrap-alerts>
              <app-bootstrap-alerts [data]="errors.apellido_uno"></app-bootstrap-alerts>
              <app-bootstrap-alerts [data]="errors.email"></app-bootstrap-alerts>
              <app-bootstrap-alerts [data]="errors.cedula"></app-bootstrap-alerts>
              <app-bootstrap-alerts [data]="errors.celular"></app-bootstrap-alerts>
              <app-bootstrap-alerts [data]="errors.sex"></app-bootstrap-alerts>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <mat-form-field class="form-campo">
                  <mat-label>Primer Nombre</mat-label>
                  <input matInput [formControl]="getControls('nombreUno')" [errorStateMatcher]="matcher"
                    placeholder="Escriba su primer nombre" [(ngModel)]="usuario.nombre_uno">
                  <mat-error
                    *ngIf="getControls('nombreUno').errors != null && getControls('nombreUno').errors.required">
                    Nombre es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('nombreUno').errors != null && getControls('nombreUno').errors.pattern">
                    Solamente <strong>letras</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 px-1">
                <mat-form-field class="form-campo">
                  <mat-label>Segundo Nombre</mat-label>
                  <input matInput [formControl]="getControls('nombreDos')" placeholder="Escriba su primer nombre"
                    [(ngModel)]="usuario.nombre_dos" name="nombre_dos">
                  <mat-error *ngIf="getControls('nombreDos').errors != null && getControls('nombreDos').errors.pattern">
                    Solamente <strong>letras</strong>
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <mat-form-field class="form-campo">
                  <mat-label>Primer Apellido</mat-label>
                  <input matInput [formControl]="getControls('primerApellido')" [errorStateMatcher]="matcher"
                    placeholder="Escriba su primer nombre" [(ngModel)]="usuario.apellido_uno">
                  <mat-error
                    *ngIf="getControls('primerApellido').errors!= null && getControls('primerApellido').errors.required">
                    Apellido es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="getControls('primerApellido').errors!= null && getControls('primerApellido').errors.pattern">
                    Solamente <strong>letras</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 pl-1">
                <mat-form-field class="form-campo">
                  <mat-label>Segundo Apellido</mat-label>
                  <input matInput [formControl]="getControls('segundoApellido')" [errorStateMatcher]="matcher"
                    placeholder="Escriba su primer nombre" [(ngModel)]="usuario.apellido_dos">

                  <mat-error
                    *ngIf="getControls('segundoApellido').errors!= null && getControls('segundoApellido').errors.pattern">
                    Solamente <strong>letras</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="form-campo">
                  <mat-label>Nombre Completo</mat-label>
                  <input matInput [formControl]="getControls('nombre')" [ngModel]="getNombreCompleto()"
                    [errorStateMatcher]="matcher" placeholder="Escriba su primer nombre">

                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pr-1">
                <mat-form-field class="form-campo">
                  <mat-label class="text-capitalize">Correo</mat-label>
                  <input matInput [formControl]="getControls('email')" [(ngModel)]="usuario.email"
                    [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
                  <mat-error
                    *ngIf="getControls('email').errors!= null && getControls('email').errors.email && !getControls('email').errors.required">
                    Por favor, ingrese un correo válido
                  </mat-error>
                  <mat-error *ngIf="getControls('email').errors!=null && getControls('email').errors.required">
                    Correo es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 px-1">
                <mat-form-field class="form-campo">
                  <mat-label>Cédula</mat-label>
                  <input matInput [formControl]="getControls('cedula')" [errorStateMatcher]="matcher"
                    placeholder="# cédula" [(ngModel)]="usuario.cedula">
                  <mat-error *ngIf="getControls('cedula').errors!= null && getControls('cedula').errors.required">
                    Cedula es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('cedula').errors!= null && getControls('cedula').errors.pattern">
                    Solamente <strong>numeros</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('cedula').errors!= null && getControls('cedula').errors.minlength">
                    minimo 7 <strong>numeros</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('cedula').errors!= null && getControls('cedula').errors.maxlength">
                    maximo 12 <strong>numeros</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 pl-1">
                <mat-form-field class="form-campo">
                  <mat-label>Celular</mat-label>
                  <input matInput [formControl]="getControls('celular')" [errorStateMatcher]="matcher"
                    placeholder="# celular" [(ngModel)]="usuario.celular">
                  <mat-error *ngIf="getControls('celular').errors!= null && getControls('celular').errors.required">
                    Celular es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('celular').errors!= null && getControls('celular').errors.pattern">
                    Solamente <strong>numeros</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('celular').errors!= null && getControls('celular').errors.minlength">
                    minimo 10 <strong>numeros</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('celular').errors!= null && getControls('celular').errors.maxlength">
                    maximo 11 <strong>numeros</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <mat-form-field class="form-campo">
                  <mat-label>Teléfono</mat-label>
                  <input matInput [formControl]="getControls('telefono')" placeholder="# teléfono"
                    [(ngModel)]="usuario.telefono">
                  <mat-error *ngIf="getControls('telefono').errors!= null && getControls('telefono').errors.pattern">
                    Solamente <strong>numeros</strong>
                  </mat-error>
                  <mat-error *ngIf="getControls('telefono').errors!= null && getControls('telefono').errors.maxlength">
                    maximo 11 <strong>numeros</strong>
                  </mat-error>
                </mat-form-field>


              </div>
              <div class="col-md-4 px-1">
                <mat-form-field appearance="fill" class="form-campo">
                  <mat-label>Sexo</mat-label>
                  <mat-select [formControl]="getControls('sexo')" [(ngModel)]="usuario.sex">
                    <mat-option value="F">Femenino</mat-option>
                    <mat-option value="M">Masculino</mat-option>
                    <mat-option value="O">Otro</mat-option>
                  </mat-select>
                  <mat-error *ngIf="getControls('sexo').errors!= null && getControls('sexo').errors.required">
                    Celular es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 pl-1">
                <mat-form-field class="form-campo">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" [formControl]="getControls('fechanacimiento')"
                    [(ngModel)]="usuario.fechanacimiento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="getControls('fechanacimiento').errors!= null && getControls('fechanacimiento').errors.required">
                    Fecha nacimiento es <strong>obligatorio</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div style="text-align:center">
                  <app-btn-upload-one-file (complete)="onFileComplete($event)" (load)="recive($event)">
                  </app-btn-upload-one-file>
                </div>
              </div>
              <div class="col-md-6 px-1">
                <mat-card class="example-card" *ngIf="actCrear || (getFile() && getFile().file && getFile().file.src)">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <img mat-card-avatar class="example-header-image"
                        [src]="actCrear? getFile() && getFile().file && getFile().file.src?getFile().file.src:usuario.foto:getFile().file.src"
                        alt="foto estudiante"/>
                    </div>
                    <mat-card-title>Foto perfil</mat-card-title>
                    <mat-card-subtitle>{{tipoUsuario}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image
                    [src]="actCrear?getFile() && getFile().file && getFile().file.src?getFile().file.src:usuario.foto:getFile().file.src"
                    alt="foto estudiante"/>

                </mat-card>
              </div>
            </div>
            <mat-card-actions>
              <button (click)="oncreateUpdate()" class="btn-block" mat-raised-button color="accent">Guardar</button>
            </mat-card-actions>

          </form>



        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
