 <div class="bg-dark" [ngStyle]="{'position':'relative','width': width , 'height': height }">
  <video class="video bg-dark" autoplay [ngStyle]="{'width': width , 'height': height }" #videoElement></video>
  <div *ngIf="!esComponenteItem">
    <div class="plano-fondo" [ngClass]="{'bg-dark': !videoBoton.video}">
      <div class="div-boton-true" [hidden]="!videoBoton.video">
        <div class="d-flex justify-content-center contenedor-buttons">
          <button mat-icon-button>
            <mat-icon color="accent" [hidden]="!videoBoton.video">videocam</mat-icon>
            <mat-icon color="accent" [hidden]="videoBoton.video">videocam_off</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon color="accent" [hidden]="!videoBoton.audio">mic</mat-icon>
            <mat-icon color="accent" [hidden]="videoBoton.audio">mic_off</mat-icon>
          </button>
        </div>
      </div>
      <div class="wrapper" [hidden]="videoBoton.video">
        <a title="{{usuario.nombre}}" [ngClass]="{'playing': videoBoton.latencia }"
          class="player-controls d-flex align-items-center justify-content-center">
          <span class="pause">
          </span>
          <img *ngIf="usuario.foto.toString().indexOf('default') <= -1" [src]="usuario.foto" width="40" height="40"
            class="rounded-circle" />
          <h1 *ngIf="usuario.foto.toString().indexOf('default') > -1" style="z-index:1;">
            {{usuario.nombre_uno.substr(0,1).toUpperCase() +''+ usuario.apellido_uno.substr(0,1).toUpperCase()}}</h1>
        </a>
        <button mat-icon-button class="player-controls d-flex align-items-center justify-content-center">
          <mat-icon color="accent" [hidden]="!videoBoton.video">videocam</mat-icon>
          <mat-icon color="accent" [hidden]="videoBoton.video">videocam_off</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="esComponenteItem">
    <div class="plano-fondo" [ngClass]="{'bg-dark': !videoBoton.video}">
      <div class="wrapper" [hidden]="videoBoton.video">
        <a title="{{usuarioSesion.nombre}}" [ngClass]="{'playing': videoBoton.latencia }"
          class="player-controls d-flex align-items-center justify-content-center">
          <span class="pause">
          </span>
          <img *ngIf="usuarioSesion.foto.toString().indexOf('default') <= -1" [src]="usuarioSesion.foto" width="40"
            height="40" class="rounded-circle" />

          <h1 *ngIf="usuarioSesion.foto.toString().indexOf('default') > -1" style="z-index:1;">
            {{usuarioSesion.nombre_uno.substr(0,1).toUpperCase() +""+ usuarioSesion.apellido_uno.substr(0,1).toUpperCase()}}
          </h1>
        </a>
      </div>
    </div>
  </div>
</div>
