<div style="position: relative;">
  <video #videoElement
    [ngStyle]="{'width': width,'height': height}"
    autoplay></video>

  <div *ngIf="!esComponenteItem">
    <div matLine *ngIf="videoBoton.video" [ngClass]="{'contenedor-nombre': videoBoton.video }">
      {{usuario.nombre}}
    </div>
    <div class="plano-fondo" [ngStyle]="{'background-color': videoBoton.video ? 'transparent':'#292828'}" #planoFondo>
      <div class="div-boton-true" [hidden]="!videoBoton.video">
        <div class="d-flex justify-content-center contenedor-buttons">
          <button mat-icon-button>
            <mat-icon color="accent" [hidden]="!videoBoton.video">videocam</mat-icon>
            <mat-icon color="accent" [hidden]="videoBoton.video">videocam_off</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon color="accent" [hidden]="!videoBoton.audio">mic</mat-icon>
            <mat-icon color="accent" [hidden]="videoBoton.audio">mic_off</mat-icon>
          </button>
        </div>
      </div>
      <div class="wrapper" #wrapper
           [ngStyle]="{left: (planoFondo.clientWidth - wrapper.clientWidth) / 2 +'px' ,width : ((planoFondo.clientWidth + 20) / 2 ) + 'px' , height : (planoFondo.clientHeight) +'px'}"
          [hidden]="videoBoton.video">
        <a matTooltip="{{usuario.nombre}}" [ngClass]="{'playing': videoBoton.latencia }"
          class="player-controls d-flex align-items-center justify-content-center">
          <span class="pause" [ngStyle]="{'background': 'radial-gradient(circle, '+color+' 0%, rgba(40,39,39,1) 77%)'}">
          </span>
          <img *ngIf="usuario.foto.toString().indexOf('default') <= -1" [src]="usuario.foto" width="40" height="40"
            class="rounded-circle" />
          <h1 *ngIf="usuario.foto.toString().indexOf('default') > -1" style="z-index:1;">
            {{usuario.nombre_uno.substr(0,1).toUpperCase() +''+ usuario.apellido_uno.substr(0,1).toUpperCase()}}</h1>
        </a>
        <div class="player-controls d-flex justify-content-center posicion-botones">
        <button mat-icon-button class="">
          <mat-icon color="accent" [hidden]="!videoBoton.video">videocam</mat-icon>
          <mat-icon color="accent" [hidden]="videoBoton.video">videocam_off</mat-icon>
          <mat-icon color="accent" [hidden]="!videoBoton.audio">mic</mat-icon>
          <mat-icon color="accent" [hidden]="videoBoton.audio">mic_off</mat-icon>
        </button>
      </div>
      </div>
    </div>
  </div>
  <div *ngIf="esComponenteItem">
    <div matLine *ngIf="videoBoton.video " [ngClass]="{'contenedor-nombre': videoBoton.video }">
      {{usuarioSesion.nombre}}
    </div>
    <div class="plano-fondo" [ngStyle]="{'background-color': videoBoton.video ? 'transparent':'#292828'}" #planoFondo>
      <div class="wrapper" #wrapper
        [ngStyle]="{left: (planoFondo.clientWidth - wrapper.clientWidth) / 2 +'px' ,width : ((planoFondo.clientWidth + 20) / 2 ) + 'px' , height : (planoFondo.clientHeight ) +'px'}"
        [hidden]="videoBoton.video">
        <a matTooltip="{{usuarioSesion.nombre}}" [ngClass]="{'playing': videoBoton.latencia }"
          class="player-controls d-flex align-items-center justify-content-center">

          <span class="pause" [ngStyle]="
            {'background': 'radial-gradient(circle, '+color+' 0%, rgba(40,39,39,1) 77%)'}">
          </span>
          <img *ngIf="usuarioSesion.foto.toString().indexOf('default') <= -1" [src]="usuarioSesion.foto" width="40"
            height="40" class="rounded-circle" />

          <h1 *ngIf="usuarioSesion.foto.toString().indexOf('default') > -1" style="z-index:1;">
            {{usuarioSesion.nombre_uno.substr(0,1).toUpperCase() +""+ usuarioSesion.apellido_uno.substr(0,1).toUpperCase()}}
          </h1>
        </a>
      </div>
    </div>
  </div>
</div>
