.div-boton-false {
  position: fixed;
  left: 40%;
  bottom: 10px;
  z-index: 10;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
}

.icon-color {
  color: white;
}
.color-phone {
  background: rgb(167, 7, 7);
}
