<div [ngStyle]="{  position: 'relative', height:height+'px', width:width+'px' }">
  <div class="card" style="width: 100%; height: 100%;">
    <div class="card-body">
      <div *ngIf="!videoCam && desktop"
        class="posicion-elemento-multimedia d-flex justify-content-center align-items-center avatar-contenedor">
        <div class="d-flex justify-content-center align-items-center avatar-cuerpo">
          <h1 class="mt-3" style=" font-size: 80px; font-weight: bold;">JC</h1>
        </div>
      </div>
      <div>
        <video class="posicion-elemento-multimedia" [hidden]="!desktop" #videoElement></video>
        <canvas class="posicion-elemento-multimedia" [hidden]="!desktop" #canvasEl></canvas>
        <app-desktop class="posicion-elemento-multimedia" #deskopComponent [hidden]="desktop" (out)="recive($event)">
        </app-desktop>


        <div class="row botones" [ngStyle]="{ zIndex:'5', position: 'absolute', left: '16px', top:height -42 +'px' }">

          <button mat-icon-button (click)="start()">
            <mat-icon *ngIf="btnCamera">videocam</mat-icon>
            <mat-icon *ngIf="!btnCamera">videocam_off</mat-icon>
          </button>
          <button mat-icon-button (click)="sound()">
            <mat-icon *ngIf="btnMicrofono">mic</mat-icon>
            <mat-icon *ngIf="!btnMicrofono">mic_off</mat-icon>
          </button>

          <button mat-icon-button (click)="stop()">
            <mat-icon> portable_wifi_off</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>screen_share</mat-icon>
          </button>
          <mat-menu #menu="matMenu" id="panel-menu">
            <button mat-menu-item (click)="startDesktop()">
              <mat-icon>settings_overscan</mat-icon>
              <span>Iniciar</span>
            </button>
            <button mat-menu-item (click)="deskopComponent.resume()">
              <mat-icon>play_circle_filled</mat-icon>
              <span>Continuar</span>
            </button>
            <button mat-menu-item (click)="deskopComponent.pause()">
              <mat-icon> pause_presentation</mat-icon>
              <span>Pausar</span>
            </button>
            <button mat-menu-item (click)="stopDesktop()">
              <mat-icon>stop_screen_share</mat-icon>
              <span>Cerrar transmisión</span>
            </button>
          </mat-menu>

        </div>
      </div>
    </div>
  </div>
